{% extends 'layout.html' %}

{% block content %}

<h2 align="center">ลงทะเบียน</h2>
{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for messages in messages %}
    <h5>{{messages}}</h5>
    {% endfor%}
</div>
{%endif%}

<form action="addform" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="">Username</label>
        <input type="text" class="form-control" name="username"> 
    </div>
    <div class="form-group">
        <label for="">Firstname</label>
        <input type="text" class="form-control" name="firstname"> 
    </div>
    <div class="form-group">
        <label for="">lastname</label>
        <input type="text" class="form-control" name="lastname"> 
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control" name="email"> 
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" name="password"> 
    </div>
    <div class="form-group">
        <label for="">Re-Password</label>
        <input type="password" class="form-control" name="repassword"> 
    </div>
    <br>
    <input type="submit" value="ลงทะเบียน" class="btn btn-primary">
    
</form>

{% endblock %}